@media screen  and (min-width: 480px) {
}

body {
  font-family: Bungee, Arial, Helvetica, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}

.ccc{
  display: inline-block;
  width: 30%;
  margin: 0 auto;
}

.navbar a:hover {
    color:#10fdff;
  }
.navbar a {
  color: #7944e6;
  width: 20px;
  font-size: 12px;
  text-decoration: none;
  padding: 10px;
}
  .navbar {
    list-style: none;
    float: right;
  }
  .navbar li {
    display: inline-block;
    margin: 0 auto;
  }

.ft {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #ff00ff;
}
.food-truck{
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}
.about {
    display: block;
    margin-left: 10px;
    width: 95%;
    font-size: 10px;
    padding-block: 10px;
}

.view-menu {
  color: #7944e6;
  text-decoration: none;  
  font-size: 10px;
  display: block;
}
.view-menu:hover {
  color:#10fdff;
}

.imgcenter{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  height: 180px;
}

.coffee-section{
  border-style: solid;
  border-color: #7944e6;
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10px;
  height: 250px;
}

.cream-section{
  border-style: solid;
  border-color: #7944e6;
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 10px;
  height: 250px;
}

.cookies-section{
  border-style: solid;
  border-color: #7944e6;
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 10px;
  height: 250px;
}